.mycarousal{
    width: 100%;
    height: 400px;
    background-repeat:no-repeat ;
    
}
.carousel-caption{
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font: bold;
    margin-bottom: 100px;
}

.jb{
    margin-top: 150;
    color: top;
}

body{
    overflow-x: hidden;
}

/*cards  */
body{
    background: rgb(214, 81, 136);
}

.container
{
    margin-top : 0;
}
.card{
    border:none;
    outline:none;
    background-color:#fff;
    border-radius:20px;
    transition: transform .3s;
}
    .nav{
        z-index: 20;
        height: 75;
    }
    header .container-fluid{
        margin-left: 0;
    }
    .nav a{
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.5);
    }
    footer {
        background: #061D25;
        padding: 10px 0;
      }
      footer a {
        color: #70726F;
        font-size: 20px;
        padding: 10px;
        border-right: 1px solid #70726F;
        transition: all .5s ease;
      }
      footer a:first-child {
        border-left: 1px solid #70726F;
      }
      footer a:hover {
        color: white;
      }
      footer h3{
          text-align: center;
          color:gray;
          font-family: cursive;
      }
      
      .footertext ol li,.footertext h4
      {
          color:gray;
          list-style:disc;
      }
      .footertext p{
          margin: 0;
          color: gray;
      }
      .registerd
      {
          text-align: center;
          color: gray;
          margin: 0;
      }



















.helper
{
    margin-top: 100;
}
.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}
.text1{
    font-size:13px;
    color: #cbcbcb;
}
.info{
    line-height: 17px;
}

.cost span{
    color:#fa1612;
    font-weight: bold;
    font-size:20px;
}

.shoe{
    background:transparent;
}

.carousel-caption{
    font-style: italic;
    color: black;
    font: bold;
}



.container-fluid{
    padding:0%;
}


.text{
    margin-top: 20px;
}
footer {
    background: #061D25;
    padding: 10px 0;
  }
  footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid #70726F;
  }
  footer a:hover {
    color: white;
  }
  footer h3{
      text-align: center;
      color:gray;
      font-family: cursive;
  }
  
  .footertext ol li,.footertext h4
  {
      color:gray;
      list-style:disc;
  }
  .footertext p{
      margin: 0;
      color: gray;
  }
  .registerd
  {
      text-align: center;
      color: gray;
      margin: 0;
  }